body {
 background-color: #675c47;
 border: 8px double gray;
 padding: 10px 10px 10px 10px;
 font-family: sans-serif;
 }
 h1 {
  font-family: Monotype coursiva;
  font-size:   260%;
  font-weight: bold;
  color:       #FF4500;
  padding:     10px;
  }
 ul {
  font-weight: bold;
  }
 #footer {
  font-size:   50%;
  text-align:  center;
  line-height: normal;
  margin-top:  30px;
  }
  #allcontent {
  width:            800px;
  padding:          30px;
  padding-top:      10px;
  padding-bottom:   10px;
  background-image: url("pictures/9GmrL.jpg");
  margin-left:      auto;
  margin-right:     auto;
  } 