 body {
 background-color: #CCFF00;
 border: 8px double gray;
 padding: 10px 10px 10px 10px;
 font-family: sans-serif;
 }
 h1 {
  font-family: Arial;
  font-size:   260%;
  font-weight: bold;
  color:       blue;
  padding:     10px; 10px;
  }
 h2 {
  font-family: Geneva;
  font-size:   180%;
  font-weight: normal;
  color:       #006600;
  padding:     10px;
  }
 h3 {
  font-family: Geneva;
  font-size:   180%;
  font-weight: normal;
  font-style:  italic;
  color:       #FF3300;
  padding:     10px;
  }
 #footer {
  font-size:   50%;
  text-align:  center;
  line-height: normal;
  margin-top:  30px;
  }