body {
 background-image: url("pictures/9GmrL.jpg");
 border: 8px double gray;
 padding: 10px 10px 10px 10px;
 font-family: sans-serif;
 }
 h1 {
  font-family: Arial;
  font-size:   260%;
  font-weight: bold;
  color:       #FF4500;
  padding:     10px;
  }
 ul {
  font-weight: bold;
  }
 #footer {
  font-size:   50%;
  text-align:  center;
  line-height: normal;
  margin-top:  30px;
  }