  body {
  width: 700px;
  background-color: #675c47;
  border: 8px double gray;
  padding: 10px 10px 10px 10px;
  font-family: sans-serif;
  margin:0 auto;
  }
 .btn {
 position: absolute;
 top: 215px;
 left: 590px;
 background-color: blue;
 display: inline-block;
 padding: 10px 3px;
 color: #fff;
 cursor: pointer;
 transition: 0.50s;
 }
 .btn:hover {
  background-color: yellow;
  color: #000;
  }
  #allcontent {
  width:            640px;
  padding:          30px;
  padding-top:      1200px;
  padding-bottom:   10px;
  background-image: url("pictures/Безымянный 2.jpg");
  background-position: 0px 0px;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%
  }
