  body {
  width: 700px;
  background-color: #675c47;
  border: 8px double gray;
  padding: 12px 12px 12px 12px;
  font-family: sans-serif;
  margin:0 auto;
  }
  .qwerty {
  font-family: Kondolar-Regular, Georgia, serif;
  text-shadow: 2px 2px 0 #f1e9e9, 3px 3px 0 #000080;
  text-align:  center;
  color: blue;
  font-size:   130%;
  font-weight: bold;
  }
  h2 {
  font-family: Geneva;
  font-size:   180%;
  font-weight: bold;
  text-align:  center;
  color:       #8B0A50;
  padding:     5px;
  }
  ul {
  font-weight: bold;
  }
  h3 {
  font-family: Geneva;
  font-size:   170%;
  font-weight: bold;
  font-style:  italic;
  color:       #FF3300;
  padding:     5px;
  }  
  img {
  display: block;
  max-width: 100%;
  }
  .parent {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  border-top : 3px solid black;
  }
  .parent div {
  width: 10%;
  }
  .thumb img  {
  display: inline-block;
  margin: 2%;
  border: 2px solid #55c5e9;
  padding: 10px;
  background: #666;
  margin-right: 15px;
  margin-left:  15px;
  }
  h5 {
  font-family: sans-serif;
  font-size:   115%;
  text-align:  center;
  color:       #006400;
  }
  h6 {
  font-family: sans-serif;
  font-size:   80%;
  text-align:  center;
  color:       #FF3300;
  }	  
  p {
  padding:     2px;
  }
  .center-img {
  display: block;
  margin: 0 auto;
  }
  #footer {
  font-size:   50%;
  text-align:  center;
  line-height: normal;
  margin-top:  30px;
  }
  #allcontent {
  width:            630px;
  padding:          30px;
  padding-top:      10px;
  padding-bottom:   10px;
  background-image: url("pictures/162096.jpg");
  margin-left:      auto;
  margin-right:     auto;
  }