  body {
  width: 700px;
  background-color: #675c47;
  border: 8px double gray;
  padding: 12px 12px 12px 12px;
  font-family: sans-serif;
  margin:0 auto;
  }
  .qwerty {
  font-family: Kondolar-Regular, Georgia, serif;
  text-shadow: 2px 2px 0 #f1e9e9, 3px 3px 0 #FF4500;
  text-align:  center;
  color: #FF4500;
  font-size:   130%;
  font-weight: bold;
  }
  .one {
  background: #FCF2E5;
  padding: 20px 20px;
  text-align: center;
  } 
  .one h3 {
  font-family: 'Merriweather', serif;
  position: relative;
  color: #FCF2E5;
  background: #90806A;
  font-size: 200%;
  font-weight: normal;
  padding: 10px 40px;
  display: inline-block;
  margin: 0;
  line-height: 1;
  }
  h4 {
  font-family: Arial;
  font-size:   120%;
  font-weight: normal;
  text-align:  center;
  color:       #FF4500;
  padding:     8px;
  }
  ul {
  font-weight: bold;
  font-size:   110%;
  }
  p {
  padding:   2px;
  }
  .center-img {
  display: block;
  margin: 0 auto;
  }
  #footer {
  font-size:   50%;
  text-align:  center;
  line-height: normal;
  margin-top:  30px;
  }
  #allcontent {
  width:            630px;
  padding:          30px;
  padding-top:      10px;
  padding-bottom:   10px;
  background-image: url("pictures/5373808.jpg");
  margin-left:      auto;
  margin-right:     auto;
  } 